<h2 class="txt_heading">Add New Student</h2>
<form action="/students" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input class="form-control" type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="number" id="age" name="age" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="father_name" name="father_name" required>
    </div>
    <div class="form-group">
      <select class="form-control" id="gender" name="gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="file" id="image" name="image" accept="/images" required>
    </div>
    <button type="submit" style="margin-bottom:20px;" class="pull-right btn btn-success"><i class="fa fa-plus"></i>Add New Item</button>
</form>
